.App {
  text-align: center;
  width: 100%;
}

.Header {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.Tittle {
  color: white;
}

.Logo {
  width: 100px;
  margin-right: 20px;
  filter: invert();
}

.Content {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  font-weight: 100;
  color: white;
  border: 2px solid white;
}

.monster-list {
  margin: 20px;
}


.ContentCollunm {
  border: 2px solid white;
}


.text {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

.textBox {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
 
}

.Input {
  border-radius: 12px;
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
}

.Button {
  border-radius: 6px;
  border: 2px solid white;
  border-color: antiquewhite;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  height: 30px;
  margin: 10px;
}

.Button:hover {
  background-color: white;
  color: #000518;
}

.Form {
 margin-top: 100px;
 margin-left: 20px;
}